body {
    background: url(https://78.media.tumblr.com/f261f0938bf432c19383d1fd632bef38/tumblr_p5hfg3g4pj1tcvan1o1_500.gif) no-repeat fixed;

    background-size: cover;
}

#test {
    background-color: fuchsia;
    padding: 10px;
}

.info {
    background: rgba(255, 255, 255, 0.83);
    padding: 1px 15px 5px 15px;
    margin-bottom: 25px;
}
#header {
    text-align: center;
    padding: 50px;
}
#jobt {
    text-align: center;
    color: black;
}
#searchthing {
    text-align: center;
}

.blm {
    text-align: center;
    text-emphasis: bold;
    background-color: black;
    color: white;
    padding: 20px;

}

#jobSubmit {
    text-align: center;
}


#cityn {
    text-align: center;
    color: black;
}

#wrds{
    color: black;
    text-align: center;
    font-weight: bold;

}
#jobOptions{
    color: white;
}

#citySubmit{
    color: black;
} 

.showSavedJobsButton {
    position: absolute;
    top: 250px;
    right: 4em;
    width: 16em;
    background: lightblue;  
}

.save {
    margin-left: 20px;
    cursor: pointer;
}

.saved-job {
    background: #555;
    color: white;
    padding: 4px
}